## ***Desafio: A lista de compras***

Imagine que um cliente contrata você para criar uma aplicação de lista de compras simples. Essa lista deverá ter uma série de funcionalidades que precisam ser implementadas e que, ao final, deverá permitir que o usuário manipule os produtos na lista. Portanto, você precisará elencar o que será necessário para que a lista seja implementada, de acordo com as necessidades do cliente, utilizando seus conhecimentos em programação e implementá-las utilizando Python.

**Para realizar este desafio você precisar ter noção dos seguintes conceitos:**

- Laços de repetição;
- Condicionais;
- Entrada e saída de dados;
- Manipulação de listas, dicionários e strings;

**Objetivo do desafio: Desenvolver um aplicativo que gerencie uma lista de compras que permita adicionar, remover e listar os produtos adicionados nela.**

**Para isso, o seu aplicativo precisa ter as seguintes funcionalidades:**

1. **Menu de Opções:** O sistema deve fornecer um menu de opções para o usuário interagir. As opções devem ser as seguintes:
2. *Adicionar produto*
3. *Remover produto* 
4. *Pesquisar produtos* 
5. *Sair do programa*


1. **Adicionar Produto:** O usuário deve poder adicionar um novo produto à lista de compras. O sistema deve solicitar informações sobre o nome, unidade de medida, quantidade e descrição do produto.
- As opções de unidade devem ser:
- Quilograma
- Grama
- Litro
- Mililitro
- Unidade
- Metro
- Centímetro
- Essas opções devem aparecer quando o sistema perguntar a unidade de medida.

1. **Controle de ID Automático:** O sistema deve atribuir automaticamente um ID único para cada produto adicionado à lista.

2. **Remover Produto:** O usuário deve poder remover um produto da lista com base no ID do produto. O sistema deve solicitar o ID do produto que o usuário deseja remover.

3. **Pesquisar Produtos por Nome:** O usuário deve poder pesquisar produtos na lista com base no nome ou parte do nome. O sistema deve exibir os resultados correspondentes e fornecer a contagem total de produtos encontrados.

4. **Listar Todos os Produtos:** O sistema deve ser capaz de exibir todos os produtos presentes na lista de compras, se houver. Contudo, o menu não deve mostrar uma opção de “Listar produtos”. A exibição deverá ocorrer toda vez que o menu principal for executado, acima dele.

5. **Cabeçalho do Aplicativo:** Deve ser exibido um cabeçalho ao iniciar o aplicativo para fornecer uma saudação e indicar que é uma Lista de Compras Simples.

6. **Feedback de Ação:** Após a execução de uma ação (como adicionar ou remover um produto), o sistema deve fornecer feedback indicando o resultado da ação.

7. **Tratamento de Entradas Inválidas:** O sistema deve ser capaz de lidar com entradas inválidas do usuário e fornecer mensagens de erro apropriadas para orientar o usuário.

8. **Encerramento do Programa:** O usuário deve poder encerrar o programa de forma adequada, escolhendo a opção de saída no menu.